<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (pageTitle='Edit reservation')"></head>
<body>
<div th:replace="fragments/top-bar :: top-bar">top-bar</div>
<div class="container">
    <h1>Edit information about reservation with ID <span th:text="${res.id}"></span></h1>
    <div class="panel panel-default">
        <form class="form-horizontal panel-body" th:action="@{edit}" th:object="${res}" method="post">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{roomId}" />
            <div class="form-group">
                <label class="col-md-2 control-label" th:for="${#ids.next('startDate')}">Start date: </label>
                <div class="col-md-10">
                    <input type="text" th:field="*{startDate}" class="form-control datepicker" />
                    <div th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="alert alert-danger" role="alert">
                        err_start
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" th:for="${#ids.next('endDate')}">End date: </label>
                <div class="col-md-10">
                    <input type="text" th:field="*{endDate}" class="form-control datepicker" />
                    <div th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="alert alert-danger" role="alert">
                        err_end
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" th:for="${#ids.next('reservationState')}">Reservation state: </label>
                <div class="col-md-6">
                    <input type="radio" th:field="*{state}" class="form-control" value="CONFIRMED"> Confirmed<br>
                    <input type="radio" th:field="*{state}" class="form-control" value="PAID"> Paid<br>
                    <input type="radio" th:field="*{state}" class="form-control" value="CANCELLED"> Cancelled<br>
                </div>
            </div>
            <p class="col-md-offset-2">
                <button type="submit" class="btn btn-primary btn-lg">Save reservation</button>
                <a th:href="@{/admin/reservation/{id}(id=*{id})}" class="btn btn-default btn-lg">Back to reservation detail without saving</a>
            </p>
            <p class="col-md-offset-2">All fields in this form are mandatory</p>
        </form>
    </div>
</div>
<script th:inline="javascript">
    $(document).ready(function() {
        var now = new Date();
        $('.datepicker').datepicker({
            dateFormat: 'dd.mm.yy',
            value: new Date()
        }).datepicker('setStartDate', new Date());
    });
</script>

<script th:inline="javascript">
    $(document).ready(function() {
        var now = new Date();
        $('.datepicker').datepicker({
            dateFormat: 'dd.mm.yy',
            value: new Date()
        }).datepicker('setEndDate', new Date());
    });
</script>

</body>
</html>