<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appenders>
        <console name="console">
            <patternlayout pattern="%d{hh:mm:ss.sss} [%t]  %-5level %logger{36} - %msg%n"/>
        </console>
    </appenders>
    <loggers>
        <root level="warn">
            <appenderref ref="console"/>
        </root>
        <logger name="org.dozer" level="warn">
            <appenderref ref="console"/>
        </logger>
        <logger name="org.hibernate" level="error">
            <appenderref ref="console"/>
        </logger>
        <logger name="org.springframework" level="warn">
            <appenderref ref="console"/>
        </logger>
    </loggers>

</configuration>