<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/top-bar :: top-bar">top-bar</div>
<div class="row col-md-offset-3 col-md-6" style="text-align: center; margin-bottom: 30px">
    <div class="col-md-2">
        <img src="../hotel_detail_1.jpg">
    </div>
    <div class="col-md-2">
        <img src="../hotel_detail_2.jpg">
    </div>
    <div class="col-md-2">
        <img src="../hotel_detail_3.jpg">
    </div>
</div>
<div class="row col-md-offset-2 col-md-8" style="text-align: center; margin-bottom: 30px">
    <div class="col-md-3">
        <h1>Hotel </h1> <h1 th:text="${hotel.name}"></h1>
    </div>
    <div class="col-md-3">
        <h3>Hotel statistics </h3>
        Avarage reservation length: <b th:text="${hotel.hotelStatistics.averageReservationLength}"></b><br/>
        Avarage room usage: <b th:text="${hotel.hotelStatistics.averageRoomUsage}"></b><br/>
        Revenue: <b th:text="${hotel.hotelStatistics.revenue}"></b><br/>
        Completed reservation: <b th:text="${hotel.hotelStatistics.numberOfCompletedReservations}"></b><br/>
    </div>
    <div class="col-md-2">
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/admin/hotel/{id}/edit(id=${hotel.id})}" class="btn btn-info" role="button" style="font-size: 25px">Edit hotel</a>
        </div>
    </div>
</div>
<div th:each="room : ${hotel.rooms}" class="row col-md-offset-3 col-md-8" style="text-align: center; margin-bottom: 30px">
    <div class="col-md-3">
        <p> You can spend night in room
            <b th:text="${room.name}"></b>
            in up to
            <b th:text="${room.bedCount}"></b>
            people for
            <b th:text="${room.price}"></b>
        </p>
        <a th:href="@{/reservation/{id}(id=${room.id})}" class="btn btn-warning" role="button" style="font-size: 25px">I Want It!</a>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/admin/room/{id}/edit(id=${room.id})}" class="btn btn-info" role="button" style="font-size: 25px">Edit room</a>
        </div>
    </div>
    <div class="col-md-3">
        <p th:text="${room.description}"></p>
    </div>
    <div class="col-md-2">
        <img src="../room_list.jpg">
    </div>
</div>
</body>
</html>