<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (pageTitle='Registration')"></head>
<body>
<div th:replace="fragments/top-bar :: top-bar">top-bar</div>
<div class="col-md-offset-3 col-md-8">
    <h1 class="col-md-offset-2">Registration</h1>
    <form id="registration-form" class="form-horizontal" th:action="@{registration}" th:object="${userRegistrationPto}" th:method="post">
        <div class="form-group">
            <label class="col-md-2 control-label" for="name">Name: </label>
            <div class="col-md-4">
                <input th:class="form-control " id="name" type="text" th:field="*{name}" />
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger" role="alert">
                    err_name
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="email">Email: </label>
            <div class="col-md-4">
                <input class="form-control" id="email" type="text" th:field="*{email}" />
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger" role="alert">
                    err_email
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="address">Adress: </label>
            <div class="col-md-4">
                <input class="form-control" id="address" type="text" th:field="*{address}" />
                <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="alert alert-danger" role="alert">
                    err_address
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="phone-number">Phone number: </label>
            <div class="col-md-4">
                <input class="form-control" id="phone-number" type="text" th:field="*{phoneNumber}" />
                <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="alert alert-danger" role="alert">
                    err_phoneNumber
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="date-of-birth">Date of birth: </label>
            <div class="col-md-4">
                <input class="form-control datepicker" id="date-of-birth" type="text" th:field="*{birthDate}" />
                <div th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="alert alert-danger" role="alert">
                    err_birthDate
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="password">Password: </label>
            <div class="col-md-4">
                <input class="form-control" id="password" type="password" th:field="*{password}" />
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger" role="alert">
                    err_password
                </div>
            </div>
        </div>
        <div class="col-md-offset-2 col-md-4" style="padding-left:0;">
            <a th:href="@{/}" class="btn btn-default">Cancel</a>
            <button class="btn btn-primary pull-right" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Register</button>
        </div>

    </form>
</div>

<script>
    $(document).ready(function() {
        var now = new Date();
        $('.datepicker').datepicker({
            dateFormat: 'dd.mm.yy',
            maxDate: new Date(now.getFullYear()-18,now.getMonth(),now.getDay()),
            value: new Date()
        }).datepicker('setDate', new Date());
    });
</script>

</body>
</html>