<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (pageTitle='Edit user')"></head>
<body>
<div th:replace="fragments/top-bar :: top-bar">top-bar</div>
<div class="container">
    <h1>Edit information about user with ID <span th:text="${user.getId()}"></span></h1>
    <div class="panel panel-default">
        <form class="form-horizontal panel-body" th:action="@{edit}" th:object="${user}" method="post">
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
                <label class="col-md-2 control-label" th:for="${#ids.next('name')}">Name: </label>
                <div class="col-md-10">
                    <input type="text" th:field="*{name}" class="form-control" />
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger" role="alert">
                        err_name
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" th:for="${#ids.next('address')}">Address: </label>
                <div class="col-md-10">
                    <input type="text" th:field="*{address}" class="form-control" />
                    <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="alert alert-danger" role="alert">
                        err_address
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" th:for="${#ids.next('email')}">E-mail: </label>
                <div class="col-md-10">
                    <input type="email" th:field="*{email}" class="form-control" />
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger" role="alert">
                        err_email
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" th:for="${#ids.next('phoneNumber')}">Phone number: </label>
                <div class="col-md-10">
                    <input type="text" th:field="*{phoneNumber}" class="form-control" />
                    <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="alert alert-danger" role="alert">
                        err_phone
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" th:for="${#ids.next('birthDate')}">Birth date: </label>
                <div class="col-md-10">
                    <input type="text" th:field="*{birthDate}" class="form-control datepicker" />
                    <div th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="alert alert-danger" role="alert">
                        err_dob
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" th:for="${#ids.next('accountType')}">User type: </label>
                <div class="col-md-6">
                    <input type="radio" th:field="*{accountState}" class="form-control" value="ADMIN"> Administrator<br>
                    <input type="radio" th:field="*{accountState}" class="form-control" value="CUSTOMER"> Regular user<br>
                    <input type="radio" th:field="*{accountState}" class="form-control" value="INACTIVE"> Inactive<br>
                </div>
            </div>
            <p class="col-md-offset-2">
                <button type="submit" class="btn btn-primary btn-lg">Save user</button>
                <a th:href="@{/admin/user/{id}(id=*{id})}" class="btn btn-default btn-lg">Back to user detail without saving</a>
            </p>
            <p class="col-md-offset-2">All fields in this form are mandatory</p>
        </form>
    </div>
</div>
<script th:inline="javascript">
    $(document).ready(function() {
        var now = new Date();
        var maximum = new Date(now.getFullYear()-18,now.getMonth(),now.getDay());
        $('.datepicker').datepicker({
            dateFormat: 'dd.mm.yy',
            maxDate: maximum,
            value: new Date()
        }).datepicker('setBirthDate', new Date());
    });
</script>

</body>
</html>