<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (pageTitle='User')"></head>
<body>
<div th:replace="fragments/top-bar :: top-bar">top-bar</div>
<div class="container">
    <p th:if="${userOptional.isPresent()}" class="pull-right">
        <a th:href="@{list}">&lt; Back to list of users</a>
    </p>
    <h1 th:text="${'User with ID '+ userOptional.get().getId()}"></h1>

    <p th:if="${!userOptional.isPresent()}" class="alert alert-info" role="alert">
        No user found for received ID. Please, <a th:href="@{list}">return back to list of users</a>.
    </p>

    <div th:if="${userOptional.isPresent()}" th:with="user=${userOptional.get()}">
        <h2>Detail of the user</h2>
        <table class="table table-nonfluid table-bordered table-striped table-hover">
            <tr>
                <th>Name</th>
                <td th:text="${user.name}"></td>
            </tr>
            <tr>
                <th>Address</th>
                <td th:text="${user.address}"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td th:text="${user.email}"></td>
            </tr>
            <tr>
                <th>Phone</th>
                <td th:text="${user.phoneNumber}"></td>
            </tr>
            <tr>
                <th>Birth date</th>
                <td th:text="${user.birthDate}"></td>
            </tr>
            <tr>
                <th>Account state</th>
                <td th:text="${user.accountState}"></td>
            </tr>
        </table>
        <p><a th:href="@{{id}/edit(id=${user.id})}"><span class="glyphicon glyphicon-pencil"></span> Edit details</a></p>
        <p><a th:href="@{{id}/delete(id=${user.id})}"><span class="glyphicon glyphicon-remove"></span> Delete user</a></p>

    </div>
</div>
</body>
</html>