<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (pageTitle='List of hotels')"></head>
<body>
    <div th:replace="fragments/top-bar :: top-bar">top-bar</div>
    <div class="container">
        <h1>List of hotels</h1>
        <a th:href="@{add}"><span class="glyphicon glyphicon-plus"></span> Add new hotel</a>
        <p th:if="${pageOfHotels.entries.isEmpty()}" class="alert alert-info" role="alert">There are no hotels in the system</p>
        <div th:if="${!pageOfHotels.entries.isEmpty()}">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Street</th>
                        <!--th>Number fo rooms</th-->
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="hotel : ${pageOfHotels.entries}">
                        <td th:text="${hotel.id}"></td>
                        <td th:text="${hotel.name}"></td>
                        <td th:text="${hotel.city}"></td>
                        <td th:text="${hotel.street}"></td>
                        <!--td th:text="${hotel.rooms.size()}"></td-->
                        <td>
                            <a th:href="@{{id}(id=${hotel.id})}"><span class="glyphicon glyphicon-eye-open"></span> View details &amp; rooms</a>
                            | <a th:href="@{{id}/edit(id=${hotel.id})}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                            | <a th:href="@{{id}/delete(id=${hotel.id})}"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 style="float:left">Pages of this list: &nbsp;&nbsp;&nbsp;</h2>

            <nav th:if="${!pageOfHotels.entries.isEmpty()}" aria-label="Page navigation">
                <ul class="pagination">
                    <li th:class="${pageOfHotels.pageNumber <= 0 ?'disabled' : ''}">
                        <a th:href="@{list(p=${pageOfHotels.pageNumber})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${pageOfHotels.pageNumber - 2 >= 0}">
                        <a th:href="@{list(p=${pageOfHotels.pageNumber - 1})}" th:text="${pageOfHotels.pageNumber - 1}"></a>
                    </li>
                    <li th:if="${pageOfHotels.pageNumber - 1 >= 0}">
                        <a th:href="@{list(p=${pageOfHotels.pageNumber})}" th:text="${pageOfHotels.pageNumber}"></a>
                    </li>
                    <li class="active">
                        <a th:href="@{list(p=${pageOfHotels.pageNumber + 1})}" th:text="${pageOfHotels.pageNumber + 1}"></a>
                    </li>
                    <li th:if="${pageOfHotels.pageNumber + 1 < pageOfHotels.pageCount}">
                        <a th:href="@{list(p=${pageOfHotels.pageNumber + 2})}" th:text="${pageOfHotels.pageNumber + 2}"></a>
                    </li>
                    <li th:if="${pageOfHotels.pageNumber + 2 < pageOfHotels.pageCount}">
                        <a th:href="@{list(p=${pageOfHotels.pageNumber + 3})}" th:text="${pageOfHotels.pageNumber + 3}"></a>
                    </li>
                    <li th:class="${pageOfHotels.pageNumber + 1 >= pageOfHotels.pageCount ? 'disabled' : ''}">
                        <a th:href="@{list(p=${pageOfHotels.pageNumber + 2})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>